.wrapper {
  background-color: #ebf3ff;
  border-radius: 5px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 2%;
}

p {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}
